<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Planr</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/landing.css">
	</head>
<body>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Planr</a>
</nav>

<h1>
	MEAL PREP MAD<span class="last-letter">E</span><br><span>EAS<span class="last-letter">Y</span></span>
</h1>
	
<div class="buttons">
	<a href="/login" class="btn btn-lg btn-success">Log In</a>
	<a href="/signup" class="btn btn-lg btn-success">Sign Up</a>
</div>

<script
	src="https://code.jquery.com/jquery-3.5.1.min.js"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
	crossorigin="anonymous">
</script>

<script type="text/javascript" src="/landing.js"></script>

	</body>
</html>