body {
	background: url(../planrLandingPage.jpg);
	background-size: cover;
  	background-position: center;
 	background-attachment: fixed;
 	background-repeat: no-repeat;
}

h1 {
	margin: 0;
  	padding: 200px 0 50px 0;
  	text-align: center;
	letter-spacing: 8px;
}

h1 span {
	letter-spacing: 40px;
}

.last-letter {
	letter-spacing: normal;
}

.buttons {
	text-align: center;
	padding: 25px 0;
}